<html>

<body ng-app="mathservices-app">
    <div ng-controller='Primeno'>
        <input type="number" id="fact" ng-model='getnumber'>
        <input type="button" id="search" value="Get Primeno" ng-click="GetPrimeno()">
        <img ng-hide="isHidden" ng-src="{{'spinner.jpg'}}" height='50px'>
        <p ng-repeat="number in result">
            {{number}}
        </p>
    </div>
    <div ng-controller='Evenno'>
        <input type="number" id="fact" ng-model='getnumber'>
        <input type="button" id="search" value="Get Even no" ng-click="GetNumber()">
        <p ng-repeat="number in result">
            {{number}}
        </p>
    </div>

</body>

<script src="angular.js"></script>
<script>
    var app = angular.module('mathservices-app', [])
    app.factory('mathservice',['$log','$q','$rootscope','$timeout', function ($log, $q, $rootScope, $timeout) {
        $rootScope.isHidden = true;
        $log.log('inside services')
        var object = {}
        object.getprimenumber = function (no, ) {
            $rootScope.isHidden = false;
            primeno = [];
            $timeout(function () {

            },3000)
            return $q(function (resolve, reject) {
                for (i = 2; i <= no; i++) {
                    var c = 0;
                    for (j = 1; j <= i; j++) {
                        if (i % j == 0) {
                            c++;
                        }
                    }

                    if (c == 2) {
                        primeno.push(i);
                    }
                }
                if (i >= no) {
                    resolve(primeno);
                    $rootScope.isHidden = true;
                }

                else
                    reject("function is not working")

            })



        }
        object.getevennumber = function (no) {
            console.log(no);
            evenno = [];
            return $q(function (resolve, reject) {
                for (var i = 1; i <= no; i++) {
                    if (i % 2 == 0) {
                        evenno.push(i);
                    }
                }
                if (i >= no)
                    resolve(evenno);
                else
                    reject("function is not working");

            })
        }

        return object;
    }])
    app.controller('Evenno',['$scope','mathservice', function ($scope, mathservice) {
        $scope.GetNumber = function () {


            mathservice.getevennumber($scope.getnumber).then(function (result) {
                $scope.result = result;
            }).catch(function (error) {
                console.log(error);
            })
            console.log($scope.result);
        }

    }])
    app.controller('Primeno',['$scope','mathservice', function ($scope, mathservice) {
        $scope.GetPrimeno = function () {

            mathservice.getprimenumber($scope.getnumber).then(function (result) {
                $scope.result = result;
            }).catch(function (error) {
                console.log(error);
            })
        }

    }])
</script>

</html>